<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.agh.librarian">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".tools.SyncAlarm"
            android:process=":syncer" />
        <receiver android:name=".tools.AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan|stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuActivityLibrarian"
            android:label="@string/title_activity_main_menu_activity_librarian"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.librarian.LoginActivity" />
        </activity>
        <activity android:name=".BorrowABookActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.librarian.MainMenuActivityLibrarian" />
        </activity>
        <activity android:name=".MainMenuActivityUser">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.librarian.LoginActivity" />
        </activity>
        <activity android:name=".BrowseBooksActivity" />
        <activity android:name=".BorrowedBooksActivity" />
        <activity android:name=".StocktakeActivity"></activity>
    </application>

</manifest>
