@media (max-width: 1500px) {
    body {
        background-color: #e6ddcc;
        width: 90%;
        /*height: 1024px;*/
        text-align: center;
        margin-left: auto;
        margin-right: auto;

    }
}

@media (min-width: 1501px) {
    body {
        background-color: #e6ddcc;
        width: 70%;
        /*height: 1024px;*/
        text-align: center;
        margin-left: auto;
        margin-right: auto;

    }
}


#menu_bars {
    background-color: #397aff;
    /*float: right;*/
    width: 100%;
    height: 7%;
    margin-top: 1.5%;
    /*margin-bottomo: 9%;*/
    /*padding-bottom: 2%;*/

}

#logo_icon {
    /*padding-top: 2%;*/
    /*height: 40px;*/
    /*width: 40px;*/
    margin-top: 1.5%;
    width: 100%;
    height: 70%;
    /*float: left;*/
    /*background-repeat: repeat-x;*/
    background: url("library.jpg") no-repeat;

}

#book_edition_logo {
    /*padding-top: 2%;*/
    /*height: 40px;*/
    /*width: 40px;*/
    margin-top: 1.5%;
    width: 100%;
    height: 70%;
    /*float: left;*/
    /*background-repeat: repeat-x;*/
    background: url("print-book.jpg") no-repeat;
    max-width: 100%;
    max-height: 100%;

}

.form-inline {
    vertical-align: middle;
}


#welcome_header {
    font-family: Consolas, monaco, monospace;
    font-size: 48px;
    font-style: normal;
    color: #B7A1E8;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    /*background-color: #05a4ff;*/
    float: left;
    margin-top: 35%;
    /*background-color: #1b58ff;*/
}

.btnMenu {
    background-image: none;
    background-color: #397aff;
    border: none;
    height: 100%;
    float: right;
}

.btn-group {
    float: right;
}

#show_book_image {
    /*padding-top: 2%;*/
    /*height: 40px;*/
    /*width: 40px;*/
    margin-top: 1.5%;
    width: 100%;
    height: 70%;
    /*float: left;*/
    /*background-repeat: repeat-x;*/
    background: url("showBooks.png") no-repeat;
    max-width: 100%;
    max-height: 100%;
}

/*.panel {*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*width: 90%;*/
/*}*/

/*.panel > .panel-heading{*/
/*background-image: none;*/
/*background-color: #ad0909;*/
/*}*/

/*.panel > .panel-heading > .btn{*/
/*flotat: right;*/

/*}*/